@import "../../node_modules/lenis/dist/lenis.css";
@import "../../node_modules/swiper/swiper-bundle.css";
@import "./modules/navbar";
@import "./modules/cookieyes";
@import "./modules/accordion";
@import "./modules/marquee";
@import "./modules/tooltip";
@import "./modules/pagination";
@import "./modules/forms";

/* Research */
.section_research .research_list-item.hidden {
    order: 99999999;
}
@media (max-width: 991px) {
    .section_research .research_list-item:nth-child(3n) {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .section_research .research_list-item:nth-child(4n) {
        display: none !important;
    }
}
/* Research Single Post */
@media (min-width: 768px) and (max-width: 991px) {
    #related-articles .research-list_list-item:nth-child(2n) {
        display: none;
    }
}

/* Swipers */
.people-slider_navigation .swiper-button-disabled {
    opacity: 0 !important;
}
.js-sync-slider_content-swiper .swiper-slide {
    height: auto;
}

/* Filters */
[data-post-category].hidden {
    display: none !important;
}
